*{
    margin: 0;
    padding: 0;
    user-select: none;
    
    
}


.jumbotron {
padding: 2rem 1rem;
/* padding: 5px; */
margin-bottom: 2rem;

border-radius: 0.3rem;
/* margin-top: 50px; */
border: 1px solid red;
width: 100%;

/* padding-left: 10px;
margin-left: 230px;
margin-right: 250px; */
box-shadow: 2px 4px 3px 3px rgba(117, 111, 122, 0.4);

}
#heading{
 text-align: center;
 padding: 18px;
}
#heading h2{
   color: rgb(231, 6, 51,0.9);
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   
}
#temprature h4{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 5px;
   padding: 0px; 
   color: rgb(209, 13, 52,0.9);
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-size: 28px;
   padding-left: 29px;
}
#temprature input{
   padding: 8px;
   padding-left: 25px;
   width: 45%;
   border-bottom: 2px solid rgb(247, 44, 37);
   margin: 28px;
   outline: none;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   background-color: transparent; 
}
#celsius h4{
  display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 5px;
   padding: 2px;
  
   color: rgb(209, 13, 52,0.9);
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-size: 28px;
   
}
#celsius #sel {
padding: 10px;
width: 180%;
border-bottom: 2px solid rgb(247, 44, 37);
margin: 10px;
outline: none;
border-top: 0px;
border-left: 0px;
border-right: 0px;
background-color: transparent;
}
#fahrenheit h4{
  display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 5px;
   padding: 0px;
   color: rgb(209, 13, 52,0.9);
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-size: 28px;
}
#lab1 #sel1{
  padding: 10px;
   width: 180%;
   border-bottom: 2px solid rgb(247, 44, 37);
   margin: 15px;
   outline: none;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   background-color: transparent;
}
#button .btn{
  padding: 10px; 
  margin: 10px; 
  border-radius: 10px;
  border: 2px solid rgb(49, 175, 11);
  background-image: linear-gradient(#32af1d,#2be93b);
  color: rgb(41, 34, 34);
  font-weight: bold;
}
#button #reset{
   padding: 10px; 
   margin: 10px; 
   border-radius: 10px;
   border: 2px solid rgb(49, 175, 11);
   background-image: linear-gradient(#32af1d,#2be93b);
   color: rgb(41, 34, 34);
   font-weight: bold;
 }
#result h4{
  display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 5px;
   padding: 0px; 
   color: rgb(209, 13, 52,0.9);
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-size: 28px;
}
#result label{
  padding: 11px;
   padding-left: 5px;
   width: 53%;
   border-bottom: 2px solid rgb(247, 44, 37);
   margin: 27px;
   outline: none;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   padding-left: 25px;
   background-color: transparent;
}